<%- include('partials/top') %>
<main aria-label="Blog Post">
  <article>
    <h1><%= title %></h1>
    <p><%= description %></p>
    <p>
      <span aria-label="Author">✍️ <%= author %></span> &nbsp;|&nbsp;
      <time datetime="<%= published %>"><%= published %></time>
    </p>
    <%- content %>
  </article>
</main>
<%- include('partials/bottom') %>